 @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
  *{
     margin: 0;
     font-family: Raleway, sans-serif;
    
  }
  body{
      background:linear-gradient( to left top ,rgb(212, 90, 111),blue)
  }
  .navbar{
     padding: 20px;
     display:flex;
     align-items: center;
     max-width:1000px;
     margin: 0 auto;
     border-bottom: 1px solid #f2f2f2;
   
  }
  .navbar h1{
     color: #000;
  }
  .navbar .links{
     margin-left:auto;
  }
  .navbar a{
     margin-left: 16px;
     text-decoration: none;
     padding: 6px;
     color: black;
  }
  .navbar a:hover{
     color: #f1356d;;
  }
  .content{
     max-width: 800px;
     margin: 40px auto;
     padding: 20px;
     line-height: 2.4em;


  }
  .blog-preview{
     padding: 10px 16px;
     margin: 20px 0;
     border-bottom: 1px solid #fafafa;
     background-color: rgb(226, 116, 108);
     color: #333;
     border-radius: 5%;
     

  }
  .blog-preview:hover{

   box-shadow: 1px 3px 5px  rgba(0,0,0,0.1);

  }
  .blog-preview h2{
     color: rgb(223, 213, 211);
     margin-bottom: 8px;
     font-size: 25px;
  }
  .home{
     color: rgb(209, 48, 19);
  }
  .title{
     color: #333;
  }
  .length{
     color: #fff;
  }
.load{
   text-align: center;
   font-size: x-large;
   color: black;
}